.board-container {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    min-height: calc(100vh - 12rem);
    scrollbar-width: none;
    border-top: 1px solid var(--color-main-dark); 
}

.board-column {
    float: left;
    background-color: var(--color-main-light);
    padding: 0.6em;
    min-width: 20em;
    border-right: 1px solid var(--color-main-dark);    
}

.board-column > h2 {
    margin-top: 0.5em;
}

.board-actions {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    font-weight: bold;
    place-self: center;
    grid-gap: 1.5em;
    height: 0;
    opacity: 0;
    transition: ease-in-out 0.1s;
    transition-property: height, opacity;
}

.board-actions > a:hover {
    color: unset;
}

.board-card {
    background: var(--color-main-base);
    padding: 0.5em 1em;
    margin-bottom: 0.7em;
    border-radius: 1em;
    display: grid;
}

.board-card:hover > .board-actions {
    height: 1.4em;
    opacity: 1;
}

.board-task-create > a {
    text-align: center;
    font-weight: bold;
}

.board-task-create > a:hover {
    color: unset;
}

.board-assignees > p {
    background-color: var(--color-main-light);
    display: inline-block;
    padding: 0.3em 0.7em;
    border-radius: 1em;
}

.board-column h2{
    text-align: center;
}

.board-assignees {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;
    place-items: start;
    place-content: start;
}


#boardHeader {
    display: grid;
    place-content: center;
    padding: 1em;
  }